* {
  margin: 0;
  padding: 0; }

/* Se genera CSS para header */
.header {
  background-color: #090d19;
  text-align: center;
  width: 100%;
  align-content: center; }

ul {
  list-style: none; }

body {
  font-family: 'Open Sans Condensed', sans-serif; }

/* Se genera CSS para menu*/
.nav {
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  float: right;
  list-style: none;
  background-color: #090d19;
  text-align: center;
  width: 100%;
  text-align: center; }
  .nav li {
    float: left; }
    .nav li a {
      font-family: 'Titillium Web', sans-serif;
      background-color: #090d19;
      color: #fff;
      text-decoration: none;
      padding: 10px 12px;
      display: block; }
    .nav li a:hover {
      color: tomato; }
    .nav li ul {
      display: none;
      position: absolute;
      min-width: 200px;
      list-style: none; }
      .nav li ul li {
        position: relative; }
  .nav li:hover > ul {
    display: block; }

.valoracion-1 {
  width: 10px; }

.valoracion-2 {
  width: 20px; }

.valoracion-3 {
  width: 30px; }

.valoracion-4 {
  width: 40px; }

.valoracion-5 {
  width: 50px; }

.valoracion-1 {
  background-image: url("/IMG/1.jpg"); }

.valoracion-2 {
  background-image: url("/IMG/2.jpg"); }

.valoracion-3 {
  background-image: url("/IMG/3.jpg"); }

.valoracion-4 {
  background-image: url("/IMG/4.jpg"); }

.valoracion-5 {
  background-image: url("/IMG/5.jpg"); }

.valor--uno {
  background-color: #E20002; }

.valor--dos {
  background-color: #FF9F04; }

.valor--tres {
  background-color: #FFD302; }

.valor--cuatro {
  background-color: #61C902; }

.valor--cinco {
  background-color: #059F00; }
