*{
    margin: 0;
    padding: 0;
}

/* Se genera CSS para header */
.header{
    background-color: #090d19;
    text-align: center;
    width: 100%;
    align-content: center;
}

ul{
    list-style: none;
}

body{
    font-family: 'Open Sans Condensed', sans-serif;
}

/* Se genera CSS para menu*/
.nav {
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    float: right;
    list-style: none;
    background-color: #090d19;
    text-align: center;
    width: 100%;
    text-align: center;
    li {
        float: left;
        a {
            font-family: 'Titillium Web', sans-serif;
            background-color:#090d19;
            color:#fff;
            text-decoration:none;
            padding:10px 12px;
            display:block;
        }
        a:hover {
            color: tomato;
        }
        ul {
            display:none;
            position:absolute;
            min-width:200px;
            list-style: none;
            li {
                position:relative;
            }
        }
    }
    li:hover > ul {
        display:block;
    }
}

// Se generan funciones SASS

@for $valoracion from 1 through 5 {
    .valoracion-#{$valoracion}{width:10px*$valoracion}
}

@each $val in 1,2,3,4,5{
    .valoracion-#{$val}{
        background-image: url('/IMG/#{$val}.jpg');
    }
}

$valor: (
    uno: #E20002,
    dos: #FF9F04,
    tres: #FFD302,
    cuatro: #61C902,
    cinco: #059F00,
);

@each $tono, $color in $valor{
    .valor--#{$tono}{
        background-color: $color;
    }
}

